In [3]:
scuse star_sw

Contains data from https://storage.googleapis.com/causal-inference-mixtape.appspot.com/star_sw.dta
  obs:        11,598
 vars:            40                          18 May 2018 18:21
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
stark           byte    %8.0g      stark      attend project star class in kindergarten
star1           byte    %8.0g      star1      attend project star class in 1st grade
star2           byte    %8.0g      star2      attend project star class in 2nd grade
star3           byte    %8.0g      star3      attend project star class in 3rd grade
totexpk         byte    %8.0g      totexpk    years of total teaching experience - kindergarten
treadssk        int     %8.0g                 total reading scaled score - sesat ii stanford
tmathssk        int     %8.0g                 total math scaled score - sesat ii stanford
totexp1         byte    %8.0g      totexp1    years of total teaching experience - 1st grade
treadss1        int     %8.0g                 total reading scaled score - primary 1 stanford
tmathss1        int     %8.0g                 total math scaled score - primary 1 stanford
totexp2         byte    %8.0g      totexp2    years of total teaching experience - 2nd grade
treadss2        int     %8.0g                 total reading scaled score - primary 2 stanford
tmathss2        int     %8.0g                 total math scaled score - primary 2 stanford
treadss3        int     %8.0g                 total reading scaled score - primary 3 stanford
tmathss3        int     %8.0g                 total math scaled score - primary 3 stanford
totexp3         byte    %8.0g      totexp3    years of total teaching experience - 3rd grade
schidkn         int     %8.0g      schidkn    school id-k (new) kindergarten
schid1n         int     %8.0g      schid1n    school id-g1 (new) 1st grade
schid2n         int     %8.0g      schid2n    school id-g2 (new) 2nd grade
schid3n         int     %8.0g      schid3n    school id-g3 (new) 3rd grade
tscorek         float   %9.0g
tscore1         float   %9.0g
tscore2         float   %9.0g
tscore3         float   %9.0g
sck             float   %9.0g
sc1             float   %9.0g
sc2             float   %9.0g
sc3             float   %9.0g
rak             float   %9.0g
ra1             float   %9.0g
ra2             float   %9.0g
ra3             float   %9.0g
white           float   %9.0g
black           float   %9.0g
other           float   %9.0g
boy             float   %9.0g
freelunk        float   %9.0g
freelun1        float   %9.0g
freelun2        float   %9.0g
freelun3        float   %9.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:

In [5]:
summ tscorek

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
     tscorek |      5,786    922.3287     73.7466        635       1253

In [6]:
egen score = rank(tscorek)

(5812 missing values generated)

In [7]:
summ score

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
       score |      5,786      2893.5    1670.398          1       5785

In [4]:
reg tscorek sck rak

      Source |       SS           df       MS      Number of obs   =     5,786
-------------+----------------------------------   F(2, 5783)      =     21.26
       Model |  229672.452         2  114836.226   Prob > F        =    0.0000
    Residual |  31232400.3     5,783  5400.72632   R-squared       =    0.0073
-------------+----------------------------------   Adj R-squared   =    0.0070
       Total |  31462072.8     5,785  5438.56055   Root MSE        =     73.49

------------------------------------------------------------------------------
     tscorek |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
         sck |   13.89899    2.40854     5.77   0.000     9.177354    18.62063
         rak |   .3139354   2.310229     0.14   0.892    -4.214977    4.842848
       _cons |   918.0429   1.641228   559.36   0.000     914.8255    921.2603
------------------------------------------------------------------------------